<div>
<form  [formGroup]='formEditBook' class="register-wrapper" >
        <mat-form-field  class="example-full-width">
            <input matInput value={{bookToPass.title}} placeholder="Title: {{formEditBook.value.title}}" formControlName=title>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input  matInput type="number" value={{bookToPass.amount}} placeholder="Amount: {{formEditBook.value.amount}}" formControlName="amount">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input  matInput value={{bookToPass.description}} placeholder="Description: {{formEditBook.value.description}}" formControlName="description">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input  matInput type="number" value={{bookToPass.price}} placeholder="Price(USD): {{formEditBook.value.price}}" formControlName="price">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input class="qwerty" matInput  placeholder="Image: {{formEditBook.value.img}}" formControlName="img" readonly>
            <div class="image-in-input" >
                <input (change)="getBase64($event.target.files[0])" id="img-upload" type="file" name="image" >
                <img class="image-input" src={{bookToPass.img}} alt="bookToPassImage">
            </div>
            
            
        </mat-form-field>
                 
        
</form>

<button mat-button (click)="updateBook(bookToPass._id)">Update</button>
</div>
     