.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}
.gallery-wrapper{
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -300px;
}